.verde-bg th {
  background-color: var(--verde-bg);
}

.grid-item {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
}

.grid-item:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
  box-shadow: -2px 2px 20px 6px var(--header-text), 0 8px 20px rgba(0, 0, 0, 0.1);
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.grid-item .overlay {
  position: absolute;
  bottom: 0;
  background: rgba(107, 0, 182, 0.6);
  color: white;
  width: 100%;
  padding: 10px;
  font-size: 0.7rem;
  text-align: center;
}

.overlay {
  left: 0;
  right: 0;
  transform: translateY(100%);
  transition: transform 0.3s;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

.wide {
  grid-column: span 2;
}

.tall {
  grid-row: span 2;
}

.grid-wrapper {
  width: 80vw; 
  margin: 0 auto; 
}

.grid-item:hover .overlay {
  transform: translateY(0);
}

.card-img-top {
  height: 200px; /* Ajusta la altura según tus necesidades */
  object-fit: cover; /* Recorta la imagen para que se ajuste al espacio */
  width: 100%; /* Asegura que la imagen ocupe todo el ancho */
}
@media (max-width: 768px) {
.grid-wrapper {
  width: 100vw; 
  margin: 0 auto;
}
}
